* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(245,245,245)
}

.button {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.2);
}

.dark {
    background-color: rgb(34,34,35);
    color: white;
}

/* Container for skill bars */
.container-skills {
    width: 100%;
    background-color: rgb(211,211,211);
}

.skill {
    text-align: left;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: rgb(255,255,255);
}

.js {width: 65%; background-color: rgb(0,0,0);}
.css {width: 75%; background-color: rgb(0,0,16);}
.html {width: 75%; background-color: rgb(0,0,32);}
.bootstrap {width: 85%; background-color: rgb(0,0,48);}
.nodejs {width: 65%; background-color: rgb(0,0,64);}
.git {width: 75%; background-color: rgb(0,0,80);}
.github {width: 85%; background-color: rgb(0,0,96);}
