* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    /* padding-top: 75px; */
}

.button {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.2);
}

.dark {
    background-color: #222;
    color: white;
}

/* Container for skill bars */
.container-skills {
    width: 100%;
    text-align: center;
    background-color: lightgrey;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
}

.js {width: 65%; background-color: red;}
.css {width: 75%; background-color: blue;}
.html {width: 75%; background-color: green;}
.bootstrap {width: 85%; background-color: orange;}
.nodejs {width: 65%; background-color: purple;}
.git {width: 75%; background-color: black;}
.github {width: 85%; background-color: grey;}
